<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %><p>
<h3>Address</h3>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
  <ul>
    <li>
      <%= review.content %>, <%= review.rating %> stars
    </li>
  </ul>
  <% end %>
<br>
<%= link_to "+ Add new review", new_restaurant_review_path(@restaurant) %>
<br><br>
<p><%= link_to "Back to list", restaurants_path %></p>

